# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Vite cache
.vite/

# Local env files
.env
.env.*.local

# Testing
coverage/
*.lcov

# Editor/OS specific
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# GitHub Pages (optional)
gh-pages/
